<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azrestfuncapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/710645ab-94a8-4e2b-af20-35c0af057678/resourceGroups/rg-handsonaks/providers/Microsoft.Web/sites/AZRestFuncApp</ResourceId>
    <UserName>$AZRestFuncApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azrestfuncapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>